@model IEnumerable<Brand>

@{
    ViewBag.Title = "Markalar";
}

<h2>Markalar</h2>

<table class="table table-striped table-bordered">
    <thead class="thead-dark">
        <tr>
            <th>Marka Adı</th>
            <th>Düzenle - Detay Gör - Sil </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var brand in Model)
        {
            <tr>
                <td>@brand.BrandName</td>
                <td>
                    <a href="/Brand/Edit/@brand.BrandId" class="btn btn-primary btn-sm">Düzenle</a>
                    <a href="/Brand/Details/@brand.BrandId" class="btn btn-info btn-sm">Detaylar</a>
                    <a href="/Brand/Delete/@brand.BrandId" class="btn btn-danger btn-sm">Sil</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<a href="/Brand/Create" class="btn btn-success">Yeni Marka Oluştur</a>
