@model IEnumerable<Brand>

@{
    ViewBag.Title = "Brands";
}

<h2>Brands</h2>

<table class="table table-striped table-bordered">
    <thead class="thead-dark">
        <tr>
            <th>Brand Name</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var brand in Model)
        {
            <tr>
                <td>@brand.BrandName</td>
                <td>
                    <a href="/Brand/Edit/@brand.BrandId" class="btn btn-primary btn-sm">Edit</a>
                    <a href="/Brand/Details/@brand.BrandId" class="btn btn-info btn-sm">Details</a>
                    <a href="/Brand/Delete/@brand.BrandId" class="btn btn-danger btn-sm">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<a href="/Brand/Create" class="btn btn-success">Add New Brand</a>
