@model IEnumerable<Company>

@{
    ViewBag.Title = "Şirketler";
}

<h2>Şirketler</h2>

<table class="table table-striped table-bordered">
    <thead class="thead-dark">
        <tr>
            <th>Şirket Adı</th>
            <th>Aktif</th>
            <th>Vergi Numarası</th>
            <th>Düzenle - Detaylar - Sil</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var company in Model)
        {
            <tr>
                <td>@company.CompanyName</td>
                <td>@(company.IsActive ? "Yes" : "No")</td>
                <td>@company.TaxNumber</td>
                <td>
                    <a href="/Company/Edit/@company.CompanyId" class="btn btn-primary btn-sm">Düzenle</a>
                    <a href="/Company/Details/@company.CompanyId" class="btn btn-info btn-sm">Detaylar</a>
                    <a href="/Company/Delete/@company.CompanyId" class="btn btn-danger btn-sm">Sil</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<a href="/Company/Create" class="btn btn-success">Yeni Şirket Ekle</a>
