@model IEnumerable<BrandModel>

@{
    ViewData["Title"] = "Modeller";
}
<h2>Modeller</h2>

<table class="table table-striped table-bordered">
    <thead class="thead-dark">
        <tr>
            <th>Model Adı</th>
            <th>Marka Adı</th>
            <th>Sınıfı</th>
            <th>Düzenle - Detay Gör - Sil </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var brandmodelmodel in Model)
        {
            <tr>
                <td>@brandmodelmodel.ModelName</td>
                <td>@brandmodelmodel.Brand.BrandName</td>
                <td>@brandmodelmodel.Class</td>
                <td>
                    <a href="/BrandModel/Edit/@brandmodelmodel.BrandModelId" class="btn btn-primary btn-sm">Düzenle</a>
                    <a href="/BrandModel/Details/@brandmodelmodel.BrandModelId" class="btn btn-info btn-sm">Detaylar</a>
                    <a href="/BrandModel/Delete/@brandmodelmodel.BrandModelId" class="btn btn-danger btn-sm">Sil</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<a href="/brandmodelModel/Create" class="btn btn-success">Yeni Model Oluştur</a>
