@model StockPart

@{
    ViewData["Title"] = "Parça Sil";
}

<h2>Stok Parçasını Sil</h2>

<h3>Silmek İstediğinize Emin Misiniz?</h3>
<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">Parça Numarası</dt>
        <dd class="col-sm-10">@Model.PartNumber</dd>

        <dt class="col-sm-2">Parça Ad</dt>
        <dd class="col-sm-10">@Model.PartName</dd>

        <dt class="col-sm-2">Parça Tarihi</dt>
        <dd class="col-sm-10">@Model.PartDate.ToString("dd/MM/yyyy")</dd>

        <dt class="col-sm-2">Parça Fiyat</dt>
        <dd class="col-sm-10">@Model.PartAmount</dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="PartId" />
        <input type="submit" value="Sil" class="btn btn-danger" /> |
        <a asp-action="Index" class="btn btn-secondary">İptal</a>
    </form>
</div>
